# Directories
bin/
obj/
cross/
sysroot/

# Other
*.iso
*.cfg
*.sw* # Vim swap files
*.tmp

disk.img

# Build and Debug
*.d
*.o

# Outputs
*.a
*.lib
*.so
*.so.*
*.out
*.bin

# GNU Global Tags
GPATH
GRTAGS
GTAGS

# VS Code
.vscode/
